#routineName_JSX {
    /* The same styling as an <h2> tag */
    font-size: 1.5em;
    font-weight: bolder;
}

/* The same styling as an <h2> tag */
#routineName_JSX::placeholder {
    color: black;
}

#EditRoutines_dayNameInputTag {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#EditRoutines_dayNameInputTag::placeholder {
    font-size: 16px;
    color: black;
}

#ManualLogTextArea {
    resize: both;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    width: "100%"
}

#FormatLogWidget_output {
    font-family: 'Source Code Pro', monospace;
}

#standardsMeanings {
    font-size: 12px;
}

#SidebarLI {
    color: blue;
    text-decoration: underline;
    font-style: italic;
}

#SidebarLI:hover {
    cursor: pointer;
}